* {
    font-family: "Inter", sans-serif;
}
body{
    background-color: #d3d3d3;
    margin: 0;
}
header {
    background-color: #fff;
    display:flex;
    align-items: center;
    padding: 0 5px;
}
@media (max-width: 650px){
    header{
        flex-direction: column;
    }
    header div{
        margin-bottom: 15px;
    }
    button{
        margin-top: 5px;
    }
}

header * {
    padding: 0 5px;
}

header p{
    font-weight: bold;
    font-size: 1.6em;
    padding-right: 10px;
}

header a {
    padding: 10px 15px;
    border-radius: 15px;
    color: black;
}

header a:hover {
    background-color: #d3d3d3;
}

#resultsBox {
    background-color: #fff;
    height: 80%;
    margin: 20px 20px;
    border-radius: 5px;
}
#resultsBox table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    margin: 10px 0;

}
td,th {
    border: 1px solid black;
}

td {
    padding-left: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 5px;
}
footer a {
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

select{
    display: block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#pageChanger {
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
}

#pageChanger button {
    border: none;
    cursor: pointer;
    background-color: #d3d3d3;
    padding: 10px 15px;
    border-radius: 5px;
}

#pageChanger button:hover {
    background-color: #989898;
}

#reportForm {
    margin: 2.5% 5%;
    padding: 10px 15px;
    height: 25%;
    background-color: #B3B3B3;
}

#reportForm form{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
}

#reportForm form>*{
    margin-right: 5px;
}

.dimHover {
    background-color: #323232;
}
.dimHover:hover {
    background-color:black;
}

.lightHover {
    background-color: white;
}

.lightHover:hover {
    background-color: #989898;
}

#reportForm button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 5px;
}

#reportForm span {
    margin-left: 2px;
    font-size: 1.2em;
}

#reportForm div{
    margin-right: auto;
}

#reportForm img {
    height: 1.2em;
}