<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin Page</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <%
        // when redirected after an admin action, shows message
        if(locals.theMessage) {
            %>
        <dialog id="dialogBox">
            <p> <%=locals.theMessage %> </p>
            <div id="dialogButtons">
                <button id="dialogBlack">Ok</button>
            </div>
        </dialog>
        <%
        }
    %>
</head>
<body>
<%-include("header")-%>
<div class="bodyContent">
    <div class="adminContainer">
        <div class="adminActions">
            <div class="employee_actions">
                <p>Employee Actions: </p>
                <button id="assignClientButton">Assign/Remove a Client</button>
                <button id="addEmployeeButton">Add a New Employee</button>
                <button id="removeEmployeeButton">Remove an Employee</button>
            </div>
            <div class="client_actions">
                <p>Client Actions: </p>
                <button id="addNewClientButton">Add a New Client</button>
                <button id="removeClientButton">Remove a Client</button>
            </div>
        </div>
        <div class="assignClient" id="assignClient">
            <!-- employee name selected from a select, client select filtered from that -->
            <fieldset class="assignClientFieldset">
                <legend>Assign a Client to an Employee</legend>
                <div>
                    <div>
                        <label for="assignClientFirstName"> Client First Name: </label><br />
                        <input type="text" id="assignClientFirstName" name="assignClientFirstName" />
                    </div>
                    <div>
                        <label for="assignClientLastName"> Client Last Name: </label><br />
                        <input type="text" id="assignClientLastName" name="assignClientLastName" />
                    </div>
                    <button id="assignClientSearchClientButton">Search Clients</button>
                </div>
                <div>
                    <div>
                        <label for="assignEmployeeFirstName"> Employee First Name: </label><br />
                        <input type="text" id="assignEmployeeFirstName" name="assignEmployeeFirstName" />
                    </div>
                    <div>
                        <label for="assignEmployeeLastName"> Employee Last Name: </label><br />
                        <input type="text" id="assignEmployeeLastName" name="assignEmployeeLastName" />
                    </div>
                    <button id="assignClientSearchEmployeeButton">Search Employee</button>
                </div>
                <div id="assignClientClientResult">
                    <label for="assignClientClient">Clients: </label><br />
                    <select name="assignClientClient" id="assignClientClient">
                        <option value="null">Select a Client:</option>
                    </select>
                </div>
                <div>
                    <label for="assignClientEmpl">Employees: </label><br />
                    <select name="assignClientEmpl" id="assignClientEmpl">
                        <option value="null">Select an Employee</option>
                    </select>
                </div>
                <button id="assignClientSubmit">Assign</button>
            </fieldset>
        </div>
        <div class="addEmployee" id="addEmployee">
            <!-- employee username, email, password, program(s), submit -->
            <fieldset class="addEmployeeFieldset">
                <legend>Add an Employee</legend>
                <div>
                    <label for="addEmployeeFName">First Name: </label><br />
                    <input type="text" id="addEmployeeFName" name="addEmployeeFName" />
                </div>
                <div>
                    <label for="addEmployeeMName">Middle Name: </label><br />
                    <input type="text" id="addEmployeeMName" name="addEmployeeMName" />
                </div>
                <div>
                    <label for="addEmployeeLName">Last Name: </label><br />
                    <input type="text" id="addEmployeeLName" name="addEmployeeLName" />
                </div>
                <div>
                    <label for="addEmployeeUser">Username: </label><br />
                    <input type="text" id="addEmployeeUser" name="addEmployeeUser" />
                </div>
                <div>
                    <label for="addEmployeeAddress"> Address: </label><br />
                    <input type="text" id="addEmployeeAddress" name="addEmployeeAddress" />
                </div>
                <div>
                    <label for="addEmployeeCity"> City: </label><br />
                    <input type="text" id="addEmployeeCity" name="addEmployeeCity" />
                </div>
                <div>
                    <label for="addEmployeeState"> State: </label><br />
                    <input type="text" id="addEmployeeState" name="addEmployeeState" />
                </div>
                <div>
                    <label for="addEmployeeZip"> Zip Code: </label><br />
                    <input type="text" id="addEmployeeZip" name="addEmployeeZip" />
                </div>
                <div>
                    <label for="addEmployeePhone"> Phone: </label><br />
                    <input type="text" id="addEmployeePhone" name="addEmployeePhone" />
                </div>
<!--                <div>-->
<!--                    <label for="addEmployeePass">Password: </label><br />-->
<!--                    <input type="password" id="addEmployeePass" name="addEmployeePass" />-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="addEmployeePassConfirm">Confirm Password: </label><br />-->
<!--                    <input type="password" id="addEmployeePassConfirm" name="addEmployeePassConfirm" />-->
<!--                </div>-->
                <div>
                    <label for="addEmployeeAdminCheckbox">Check if this Account will be Admin: </label> <br />
                    <input type="checkbox" id="addEmployeeAdminCheckbox" value="1" />
                </div>

                <button id="addEmployeeSubmit">Submit</button>
            </fieldset>
        </div>
        <div class="removeEmployee" id="removeEmployee">
            <!-- employee username, name, search with table and selector, submit -->
            <fieldset class="removeEmployeeFieldset">
                <legend>Remove an Employee</legend>
                <div>
                    <label for="removeEmplFName"> First Name: </label><br />
                    <input type="text" id="removeEmplFName" name="removeEmplFName" />
                </div>
                <div>
                    <label for="removeEmplLName"> Last Name: </label><br />
                    <input type="text" id="removeEmplLName" name="removeEmplLName" />
                </div>

                <button id="removeEmplSearchButton">Search</button>

                <div id="removeEmplSearchResults">
                    <select name="removeEmplSearchSelect" id="removeEmplSearchSelect">
                        <option value="null">Select an Employee</option>
                    </select>
                </div>

                <button id="removeEmployeeSubmit">Submit</button>
            </fieldset>
        </div>
        <div class="addNewClient" id="addNewClient">
            <!-- sends you to empty client page to put in info -->
            <fieldset class="addNewClientFieldset">
                <legend>Add a New Client</legend>
                <div>
                    <label for="addClientFName">First Name: </label><br />
                    <input type="text" id="addClientFName" required="required"/>
                </div>
                <div>
                    <label for="addClientMName">Middle Name: </label><br />
                    <input type="text" id="addClientMName" />
                </div>
                <div>
                    <label for="addClientLName">Last Name: </label><br />
                    <input type="text" id="addClientLName" required="required"/>
                </div>
                <div>
                    <label for="addClientEmail">Email: </label><br />
                    <input type="text" id="addClientEmail" />
                </div>
                <div>
                    <label for="addClientAddress">Address: </label><br />
                    <input type="text" id="addClientAddress" />
                </div>
                <div>
                    <label for="addClientCity">City: </label><br />
                    <input type="text" id="addClientCity" />
                </div>
                <div>
                    <label for="addClientZip">Zip: </label><br />
                    <input type="text" id="addClientZip" />
                </div>
                <div>
                    <label for="addClientDoB">Date of Birth: </label><br />
                    <input type="date" id="addClientDoB" />
                </div>
                <div>
                    <label for="addClientPhone">Phone: </label><br />
                    <input type="text" id="addClientPhone" maxlength="12"/>
                </div>
                <button id="addClientSubmit">Add</button>
            </fieldset>
        </div>
        <div class="removeClient" id="removeClient">
            <!-- search by name, program, id?, phone, email, display info in mini table -->
            <fieldset class="removeClientFieldset">
                <legend>Remove a Client</legend>
                <div>
                    <label for="removeClientFName"> First Name: </label><br />
                    <input type="text" id="removeClientFName" />
                </div>
                <div>
                    <label for="removeClientLName"> Last Name: </label><br />
                    <input type="text" id="removeClientLName" />
                </div>
                <div>
                    <button id="removeClientSearchButton">Search</button>
                </div>
                <div class="removeClientSearchResults">
                    <label for="removeClientSelect">Clients: </label><br />
                    <select id="removeClientSelect">
                        <option value="null">Select a Client:</option>
                    </select>
                </div>

                <button id="removeClientSubmit">Submit</button>
            </fieldset>
        </div>
    </div>
</div>
<footer class="caseNoteFooter">
    <button id="goBackButton" class="dimHover footerButton">Go Back</button>
</footer>
</body>

<script src="../js/adminButtons.js" defer="defer"></script>
<script src="../js/adminActions.js" defer="defer"></script>