<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin Page</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <script src="../js/adminButtons.js" defer="defer"></script>
</head>
<body>
<%-include("header")-%>
<div class="bodyContent">
    <div class="adminContainer">
        <div class="employee_actions">
            <p>Employee Actions: </p>
            <button id="assignClientButton">Assign/Remove a Client</button>
            <button id="addEmployeeButton">Add a New Employee</button>
            <button id="removeEmployeeButton">Remove an Employee</button>
            <button id="resetPasswordButton">Reset Employee Password</button>
        </div>
        <div class="client_actions">
            <p>Client Actions: </p>
            <button id="addNewClientButton">Add a New Client</button>
            <button id="removeClientButton">Remove a Client</button>
        </div>
        <div class="assignClient" id="assignClient">
            <!-- employee name selected from a select, client select filtered from that -->
            <form method="post" action="/admin/assign">
                <fieldset class="assignClientFieldset">
                    <legend>Assign a Client to an Employee</legend>

                    <label for="assignClientFirstName"> Client First Name: </label>
                    <input type="text" id="assignClientFirstName" name="assignClientFirstName" />
                    <label for="assignClientLastName"> Client Last Name: </label>
                    <input type="text" id="assignClientLastName" name="assignClientLastName" />
                    <label for="assignEmployeeFirstName"> Employee First Name: </label>
                    <input type="text" id="assignEmployeeFirstName" name="assignEmployeeFirstName" />
                    <label for="assignEmployeeLastName"> Employee Last Name: </label>
                    <input type="text" id="assignEmployeeLastName" name="assignEmployeeLastName" />

                    <button id="assignClientSearchButton">Search</button>

                    <div class="assignClientResult">
                        <label for="assignClient_empl">Employees: </label>
                        <select name="assignClient_empl" id="assignClient_empl">
                            <option value="null">Select an Employee</option>
                            <%
                            // foreach for array of employees as options
                            %>
                        </select>
                        <label for="assignClient_client">Clients: </label>
                        <select name="assignClient_client" id="assignClient_client">
                            <option value="null">Select a Client:</option>
                            <%
                            // foreach for array of filtered clients as options
                            %>
                        </select>
                        <button id="submit">Assign</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="addEmployee" id="addEmployee">
            <!-- employee username, email, password, program(s), submit -->
            <form method="post" action="/admin/addempl">
                <fieldset class="addEmployeeFieldset">
                    <legend>Add an Employee</legend>

                    <label for="addEmployeeFName">First Name: </label>
                    <input type="text" id="addEmployeeFName" name="addEmployeeFName" />

                    <label for="addEmployeeMName">Middle Name: </label>
                    <input type="text" id="addEmployeeMName" name="addEmployeeMName" />

                    <label for="addEmployeeLName">Last Name: </label>
                    <input type="text" id="addEmployeeLName" name="addEmployeeLName" />

                    <label for="addEmployeeUser">Username: </label>
                    <input type="text" id="addEmployeeUser" name="addEmployeeUser" />

                    <label for="addEmployeePass">Password: </label>
                    <input type="password" id="addEmployeePass" name="addEmployeePass" />

                    <label for="addEmployeePassConfirm">Confirm Password: </label>
                    <input type="password" id="addEmployeePassConfirm" name="addEmployeePassConfirm" />

                    <label for="addEmployeeAddress"> Address: </label>
                    <input type="text" id="addEmployeeAddress" name="addEmployeeAddress" />

                    <label for="addEmployeeCity"> City: </label>
                    <input type="text" id="addEmployeeCity" name="addEmployeeCity" />

                    <label for="addEmployeeState"> State: </label>
                    <input type="text" id="addEmployeeState" name="addEmployeeState" />

                    <label for="addEmployeeZip"> Zip Code: </label>
                    <input type="text" id="addEmployeeZip" name="addEmployeeZip" />

                    <label for="addEmployeePhone"> Phone: </label>
                    <input type="text" id="addEmployeePhone" name="addEmployeePhone" />

                    <button id="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="removeEmployee" id="removeEmployee">
            <!-- employee username, name, search with table and selector, submit -->
            <form method="post" action="/admin/removeempl">
                <fieldset class="removeEmployeeFieldset">
                    <legend>Remove an Employee</legend>

                    <label for="removeEmplFName"> First Name: </label>
                    <input type="text" id="removeEmplFName" name="removeEmplFName" />
                    <label for="removeEmplLName"> Last Name: </label>
                    <input type="text" id="removeEmplLName" name="removeEmplLName" />

                    <button id="removeEmplSearch">Search</button>

                    <div class="removeEmplSearchResults">
                        <select name="removeEmplFName" id="removeEmplFName">
                            <option value="null">Select an Employee</option>
                            <%

                            %>
                        </select>
                    </div>

                    <button id="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="resetPassword" id="resetPassword">
            <!-- employee username, name, search with table and selector, submit -->
            <form id="resetPasswordForm" method="post" action="/api/resetPassword">
                <fieldset class="resetPasswordFieldset">
                    <legend>Reset Employee Password</legend>

                    <label for="resetUsername"> Username: </label>
                    <input type="text" id="resetUsername" name="username" />

                    <button type="submit" id="resetPasswordSubmit">Submit</button>
                </fieldset>
            </form>
            <div id="resetPasswordResult"></div>
        </div>
        <div class="addNewClient" id="addNewClient">
            <!-- sends you to empty client page to put in info -->
            <form method="post" action="/admin/addclient">
                <fieldset class="addNewClientFieldset">
                    <legend>Add a New Client</legend>

                    <label for="addNewClient_fName">First Name: </label>
                    <input type="text" id="addNewClient_fName" required="required"/>
                    <label for="addNewClient_mName">Middle Name: </label>
                    <input type="text" id="addNewClient_mName" />
                    <label for="addNewClient_lName">Last Name: </label>
                    <input type="text" id="addNewClient_lName" required="required"/>

                    <button id="addNewClient_buildButton">Build</button>
                </fieldset>
            </form>
        </div>
        <div class="removeClient" id="removeClient">
            <!-- search by name, program, id?, phone, email, display info in mini table -->
            <form method="post" action="/admin/removeclient">
                <fieldset class="removeClientFieldset">
                    <legend>Remove a Client</legend>

                    <label for="removeClientName"> Enter Client Name: </label>
                    <input type="text" id="removeClientName" />

                    <button id="removeClientSearchButton">Search</button>
                    <div class="removeClientResult">
                        <label for="removeClientSelect">Clients: </label>
                        <select id="removeClientSelect">
                            <option value="null">Select a Client:</option>
                            <%
                            // foreach for array of filtered clients as options
                            %>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer class="caseNoteFooter">
    <button id="goBackButton" class="dimHover footerButton">Go Back</button>
</footer>
</body>