<!DOCTYPE html>
<html lang="en">
<head>
    <title>Case Note</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <%-include("header")-%>
    <div class="bodyContent">
        <!-- <img src="" /> -->
        <p>Client: <%=locals.theClient.getFirstName() +
            " " + locals.theClient.getLastName()%></p>
        <div class="tabContainer">
            <div class="tabcontent">
                <div>
                    <label for="program">Program:</label>
                    <input type="text" id="program" name="program" />
                </div>
                <div>
                    <label for="contact_type">Contact Type: </label>
                    <p id="contact_type">
                        <input type="radio" name="contact_type" id="in_person" />
                        <label for="in_person">In-Person</label>
                        <input type="radio" name="contact_type" id="written"/>
                        <label for="written">Written</label>
                        <input type="radio" name="contact_type" id="over_the_phone"/>
                        <label for="over_the_phone">Over the Phone</label>
                    </p>
                </div>
                <div>
                    <label for="goal_worked_on">Goal Worked on: </label>
                    <p id="goal_worked_on">
                        <input type="radio" name="goal_worked_on" id="isp_goal" />
                        <label for="isp_goal">ISP Goal</label>
                        <input type="radio" name="goal_worked_on" id="ipp_goal"/>
                        <label for="ipp_goal">IPP Goal</label>
                        <input type="radio" name="goal_worked_on" id="personal_goal"/>
                        <label for="personal_goal">Personal Goal</label>
                    </p>
                </div>
                <div>
                    <label for="narrative">Narrative: </label>
                    <input type="text" id="narrative" name="narrative" />
                </div>
                <div>
                    <label for="progress_on_goal">Progress on Goal / What is Being Worked on: </label>
                    <input type="text" id="progress_on_goal" name="progress_on_goal" />
                </div>
                <div>
                    <label for="next_steps">Next Steps: </label>
                    <input type="text" id="next_steps" name="next_steps" />
                </div>
                <div>
                    <label for="empl_signoff">Employee Sign-Off: </label>
                    <input type="text" id="empl_signoff" name="empl_sign_off" />
                </div>
                <div>
                    <label for="date_of_signoff">Date of Sign-Off: </label>
                    <input type="text" id="date_of_signoff" name="date_of_signoff" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>