<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client Details</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/orlando.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%- include("header") -%>
<div class="bodyContent">
    <p>Showing information for
        <% if(locals.theClient){
        %><%= locals.theClient.getFirstName() + " " + locals.theClient.getLastName() %>
        <%
        }
        else{
        %> Unknown Client
        <%
        } %>
    </p>
    <div id="tabContainer">
        <div class="tab">
            <button class="tablinks" data-tabName="clientID" id="defaultOpen">Client ID</button>
            <button class="tablinks" data-tabName="medInfo"> Medical Information</button>
            <button class="tablinks" data-tabName="personalInfo"> Personal Information</button>
            <button class="tablinks" data-tabName="supportTeam"> Support Team</button>
            <button class="tablinks" data-tabName="caseNotes"> Case Notes</button>
        </div>

        <form method="post" action="/api/updateClient" id="clientUpdate">
            <div id="clientID" class="tabcontent">
                <input type="text" name="" id="" value="<%= locals.theClient.%>"/>
            </div>

            <div id="medInfo" class="tabcontent">
                2
            </div>

            <div id="personalInfo" class="tabcontent">
                3
            </div>

            <div id="supportTeam" class="tabcontent">
                4
            </div>
        </form>
        <div id="caseNotes" class="tabcontent">
                5
        </div>

            <script src="js/tab.js"></script>
    </div>
    //
</div>

</body>