<div class="home-header">
    <span id="hcar-header"> <strong>HCAR Staff Portal</strong></span>
    <a href="/tohome" class="header-link">Home</a>
    <a href="/search" class="header-link" >Search</a>
    <a href="/reports" class="header-link">Reports</a>
</div>