<html lang="en">
    <head>
        <title>Home</title>
        <%-include("fontLinks")-%>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="hcar-body">
        <%-include("header")-%>
        <div class="buttons-container">
            <button class="home-button" id="quickViewButton">Quick View All</button>
            <button class="home-button" id="searchButton">Search Client</button>
            <button class="home-button" id="reportsButton">Reports</button>
            <%
                if(locals.theAccount.admin) {
                    %>
                    <button class="home-button" id="adminButton">Admin</button>
                    <%
                }
            %>
        </div>
        <script src="../js/homeScript.js" defer="defer"></script>
    </body>
</html>