<html lang="en">
    <head>
        <title>Search</title>
        <%-include("fontLinks")-%>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%-include("header")-%>
    </body>