<html lang="en">
    <head>
        <title>Home</title>
        <%-include("fontLinks")-%>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="hcar-body">
        <%-include("header")-%>
        <div class="buttons-container">
            <button class="home-button" onclick="window.location.href='/result'">Quick View All</button>
            <button class="home-button" onclick="window.location.href='/search'">Search Client</button>
            <button class="home-button" onclick="window.location.href='/reports'">Reports</button>
        </div>
    </body>
</html>