<html lang="en">
<head>
    <%- include("fontLinks") -%>
    <title>Search Results</title>
    <link href="css/orlando.css" rel="stylesheet" type="text/css">
</head>
<body>

<%- include("header") -%>

<div id="resultsBox">
    <table>
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Pronouns</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Programs</th>
                <th scope="col">PoS Status</th>
            </tr>
        </thead>
        <tr>
            <td ><img width="256" alt="Bob Saget 1987"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Bob_Saget_1987.jpg/256px-Bob_Saget_1987.jpg?20220610073736">
            </td>
            <td >Bob</td>
            <td >Saget</td>
            <td >He/Him</td>
            <td >Male</td>
            <td>777-777-7777</td>
            <td>foo@gmail.com</td>
            <td>1956-05-17</td>
            <td>Bay Center</td>
            <td>Good</td>
        </tr>
        <tr>
            <td ><img width="256" alt="Bob Saget 1987"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Bob_Saget_1987.jpg/256px-Bob_Saget_1987.jpg?20220610073736">
            </td>
            <td >Bob</td>
            <td >Saget</td>
            <td >He/Him</td>
            <td >Male</td>
            <td>777-777-7777</td>
            <td>foo@gmail.com</td>
            <td>1956-05-17</td>
            <td>Bay Center</td>
            <td>Good</td>
        </tr>
        <tr>
            <td ><img width="256" alt="Bob Saget 1987"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Bob_Saget_1987.jpg/256px-Bob_Saget_1987.jpg?20220610073736">
            </td>
            <td >Bob</td>
            <td >Saget</td>
            <td >He/Him</td>
            <td >Male</td>
            <td>777-777-7777</td>
            <td>foo@gmail.com</td>
            <td>1956-05-17</td>
            <td>Bay Center</td>
            <td>Good</td>
        </tr>
        <tr>
            <td ><img width="256" alt="Bob Saget 1987"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Bob_Saget_1987.jpg/256px-Bob_Saget_1987.jpg?20220610073736">
            </td>
            <td >Bob</td>
            <td >Saget</td>
            <td >He/Him</td>
            <td >Male</td>
            <td>777-777-7777</td>
            <td>foo@gmail.com</td>
            <td>1956-05-17</td>
            <td>Bay Center</td>
            <td>Good</td>
        </tr>
        <tr>
            <td ><img width="256" alt="Bob Saget 1987"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Bob_Saget_1987.jpg/256px-Bob_Saget_1987.jpg?20220610073736">
            </td>
            <td >Bob</td>
            <td >Saget</td>
            <td >He/Him</td>
            <td >Male</td>
            <td>777-777-7777</td>
            <td>foo@gmail.com</td>
            <td>1956-05-17</td>
            <td>Bay Center</td>
            <td>Good</td>
        </tr>
        <tr>
            <td ><img width="256" alt="Bob Saget 1987"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Bob_Saget_1987.jpg/256px-Bob_Saget_1987.jpg?20220610073736">
            </td>
            <td >Bob</td>
            <td >Saget</td>
            <td >He/Him</td>
            <td >Male</td>
            <td>777-777-7777</td>
            <td>foo@gmail.com</td>
            <td>1956-05-17</td>
            <td>Bay Center</td>
            <td>Good</td>
        </tr>
    </table>
</div>
<footer>
    <a href="">Go Back</a>

    <div id="pageChanger">
        <button type="button" disabled="disabled">← Previous</button>
        <button type="button">Next →</button>
    </div>
    <!-- Probably going to need JavaScript to make this button work nicely -->
    <a class="dimHover" href="">Select</a>

</footer>
</body>

</html>
