<html lang="en">
<head>
    <%- include("fontLinks") -%>
    <title>Search Results</title>
    <link href="css/orlando.css" rel="stylesheet" type="text/css">
</head>
<body>

<%- include("header") -%>

<div id="resultsBox">
    <table>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">First Name</th>
            <th scope="col">M.I.</th>
            <th scope="col">Last Name</th>
            <th scope="col">Foo</th>
            <th scope="col">Bar</th>
        </tr>
        <tr>
            <td >:)</td>
            <td >Bob</td>
            <td > D</td>
            <td > Saget</td>
            <td >Foo</td>
            <td >Bar</td>
        </tr>
    </table>
</div>
<footer>
    <a href="">Go Back</a>

    <div id="pageChanger">
        <button type="button" disabled="disabled">← Previous</button>
        <button type="button">Next →</button>
    </div>
    <!-- Probably going to need JavaScript to make this button work nicely -->
    <a class="dimHover" href="">Select</a>

</footer>
</body>

</html>
