<html lang="en">
    <head>
        <title>Search</title>
        <%-include("fontLinks")-%>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="hcar-body">
        <%-include("header")-%>
        <form method="get" action="/results" id="searchForm">
        <div id="searchContainer">
                <div id="firstNameFilter">
                    <label for="firstName">First Name</label> <br />
                    <input type="text" class="searchField" id="firstName" name="firstName" placeholder="First" />
                </div>
                <div id="lastNameFilter">
                    <label for="lastName">Last Name</label> <br />
                    <input type="text" class="searchField" id="lastName" name="lastName" placeholder="Last" />
                </div>
                <div id="programFilter">
                    <label for="program">Program</label> <br />
                    <select class="searchField" id="program" name="program">
                        <option value="" selected>-- Select an option --</option>
                        <option value="1">Summit Support Services</option>
                        <option value="2">Bay Center Day Services</option>
                        <option value="3">Canvas + Clay Studio</option>
                        <option value="4">Comprehensive Career Services</option>
                        <option value="5">Respite Services</option>
                        <option value="6">Clinical Services</option>
                        <option value="7">Self-Determination Program</option>
                    </select>
                </div>
                <div id="birthDateFilter">
                    <label for="dob">Birthdate</label> <br />
                    <input type="date" class="searchField" id="dob" name="dob" max="<%= new Date().toISOString().slice(0, 10) %>"/>
                </div>
                <!-- Additional Fields with More Options -->
                <div id="sexTypeFilter" class="hidden">
                    <label for="gender">Gender</label> <br />
                    <select class="searchField" id="gender" name="gender" >
                        <option value="" selected>-- Select an option --</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="non-binary">Non-Binary</option>
                        <option value="agender">Agender</option>
                    </select>
                </div>
                <div id="pronounsFilter" class="hidden">
                    <label for="pronouns">Pronouns</label> <br />
                    <input type="text" class="searchField" id="pronouns" name="pronouns" placeholder="None"/>
                </div>
                <div id="phoneFilter" class="hidden">
                    <label for="phoneNumber">Phone Number</label> <br />
                    <input type="text" class="searchField" id="phoneNumber" name="phoneNumber" placeholder="0123456789" />
                </div>
                <div id="emailFilter" class="hidden">
                    <label for="email">Email</label> <br />
                    <input type="email" class="searchField" id="email" name="email" placeholder="None"/>
                </div>
                <div id="mNameFilter" class="hidden">
                    <label for="mName">Middle Name</label> <br />
                    <input type="text" class="searchField" id="mName" name="mName" placeholder="Middle" />
                </div>
                <div id="posFilter" class="hidden">
                    <label for="pos">PoS Status</label> <br />
                    <select class="searchField" id="pos" name="pos" >
                        <option value="" selected>-- Select an option --</option>
                        <option value="good">Good</option>
                        <option value="bad">Bad</option>
                    </select>
                </div>
                <button id="moreOptions" class="searchField" type="button">
                    <span id="buttonText"> More Options </span>
                    <img id="optionsIcon" src="/icons/chevron-double-down.svg" />
                </button>
            
        </div>
        <div id="searchSubmitContainer">
            <input type="submit" id="searchSubmit" />
        </div>
        </form>
        <script src="../js/searchScript.js" defer="defer"></script>
    </body>
</html>