<html lang="en">
    <head>
        <title>Search</title>
        <%-include("fontLinks")-%>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%-include("header")-%>
        <div id="searchContainer">
            <div id="firstNameFilter">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" placeholder="First" />
            </div>
            <div id="lastNameFilter">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" placeholder="Last" />
            </div>
            <div id="phoneFilter">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" placeholder="0123456789" />
            </div>
            <div id="birthDateFilter">
                <label for="birthDate">Birthdate</label>
                <input type="date" id="birthDate" />
            </div>
        </div>
    </body>
</html>